* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  font-family: 'Roboto', sans-serif;
}

.header-name {
  text-align: center;
  margin-top: 20px;
  font-weight: 400;
}

.header-description {
  text-align: center;
  margin: 10px 0;
  font-weight: 400;
}

table,
tr,
td {
  border: 1px solid #999;
  border-collapse: collapse;
}

td {
  padding: 4vh 10vw;
}

.table {
  margin: 0 auto;
}
